### Functional programming
1. simple
2. easy to understand
3. better reuseability
4. length of program will be divided into sub program

In [0]:
# read a number
#print the even digit sum from the number

#input: 1234
#output: 6(2+4)
def evendigitsum(n):
  s=0
  while n!=0:
    r=n%10
    if r%2 == 0:
      s = s+r
    n= n //10
  return s
evendigitsum(1234)

6

In [0]:
# define return function
def square(x):
  print(x*x)
print(square(4))

16
None

In [0]:
def square(x):
  return x*x
square(3)

9

In [0]:
def cube(x):
  return x*x*x
cube(3)

27

In [0]:
def multiply(x,y=0):
  print("value of x=",x)
  print("value of y=",y)
  return(x*y)
print(multiply(y=2,x=4))

value of x= 4
value of y= 2
8

In [0]:
#swap values
def swap(x,y):
    temp = x
    x = y
    y = temp
    return x,y
swap(19,12)

(12, 19)

In [0]:
#input : 19535
#output : 9 (large digit of the given no)
def largedigit(n):
  large = 0
  while n!=0:
    r=n%10
    if large < r:
      large = r
    n=n//10
  return large
largedigit(19535)

9

##FOR LOOP
##### syntax 1:
for i in  range (start,stop,step):
> statements
##### syntax 2:
for i in iterableobject:
> statements

In [0]:
# Function to print a prime numbers btw two limits
def printserials(lb,ub):
    for x in range(lb,ub+1):
        print(x,end=' ')
    return
printserials(1,10)

1 2 3 4 5 6 7 8 9 10

### COLLECTIOn TYPES
1. list
2. tuple
3. set
4. dictionary

### LIST:
- One of the data striucture in python
- data structure mena s to store , sort and searh options
- it's one command sdata structure in python, the items of list seperated by comma and enclosed in square brackets[]

### EXAMPLES:
- list1 = [1,2,3,4,5]
- list2 = ["gitam",1,2]

In [0]:
li = [1,8,16,9,2]
print(li)#will print all the list items
print(li[0])
print(li[1])
print(li[-5])
print(li[1:])
print(li[1:4])
print(li[-4:-1])
print(li[:-1])

[1, 8, 16, 9, 2]
1
8
1
[8, 16, 9, 2]
[8, 16, 9]
[8, 16, 9]
[1, 8, 16, 9]

In [0]:
# update list
li = ['gitam',1234,'hyd']
print(li)
li[1] = 456
print(li)

['gitam', 1234, 'hyd']
['gitam', 456, 'hyd']

In [0]:
# delete a value frm list
li = ['gitam', 1234, 2018, 2019,'hyd']
del li[3]
print(li)

['gitam', 1234, 2018, 'hyd']